#header {
    width: 100%;
    background-color: $black;
    color: $white;
    text-transform: uppercase;

    a,
    a:link,
    a:visited,
    a:active {
        color: $white;
    }

    ul {
        padding: 0;
        list-style-type: none;

        li {
            display: inline-block;
            padding: $paddingContent;
        }

        &.breadcrumbs {
            text-align: right;

            li:last-child {
                background-color: $white;
                color: $black;
            }

            li div {
                display: none;
                position: absolute;
                background-color: #fff;
                padding: 0.5em 1.5em;
                margin: 0.8em -6em;
                text-align: left;
                @include box-shadow($boxShadow_90Deg);
            }

            li:hover div {
                display: block;
            }

                .login p {
                    font-size: 1.1em;
                }

                .login input[type="text"],
                .login input[type="password"] {
                    background-color: $white;
                    border: 1px solid $black;
                    width: 94%;
                    padding: 3%;
                }

                .login input[type="submit"] {
                    background-color: $black;
                    color: $white;
                    border: 0;
                    padding: 0.5em 1.5em;
                }

        }

        &.menu {
            text-align: center;

            li {
                display: inline-block;
                background: transparent url("../images/keyline.png") no-repeat center right;

                &:last-child {
                    background: none;
                }

                ul {
                    position: absolute;
                    margin: 0.6em -1.7em;
                    font-size: 0.9em;
                    text-align: left;
                    font-family: $secondaryFont;
                    text-transform: capitalize;

                    li {
                        display: none;
                    }

                }

                &:hover {
                    background: $grey;

                    ul li,
                    ul li:last-child {
                        display: block;
                        background: $grey;
                    }

                }

            }

        }

    }

    .seperator {
        min-height: 50px;
        border-bottom: 1px solid $grey;
        width: 95%;
    }

}
