/* Fonts */

$primaryFont:       "Ubuntu", sans-serif;
$secondaryFont:     "Verdana", sans-serif;
$quoteFont:         "Times New Roman", serif;

/* Colours */

$white:             #fff;
$black:             #000;
$grey:              #222;

/* Box Model */

$paddingContent:    10px 20px;

/* Graphical Flourishes */

$boxShadow_90Deg:   0px 3px 5px -3px rgba(50, 50, 50, 0.75);
