/* SASS Variables and Mixins */
/* Fonts */
/* Colours */
/* Box Model */
/* Graphical Flourishes */
/* Mixins */
/* Sections */
body {
  margin: 0;
  padding: 0;
  font: 0.9em "Ubuntu", sans-serif; }

a,
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: black; }

a:hover {
  text-decoration: underline; }

/* Layout Helpers */
.container {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 2%; }

/* Font Decoration */
.underline {
  text-decoration: underline; }

.lowercase {
  text-transform: lowercase; }

.capitalise {
  text-transform: capitalize; }

.lowercase {
  text-transform: lowercase; }

.uppercase {
  text-transform: uppercase; }

#header {
  width: 100%;
  background-color: black;
  color: white;
  text-transform: uppercase; }
  #header a,
  #header a:link,
  #header a:visited,
  #header a:active {
    color: white; }
  #header ul {
    padding: 0;
    list-style-type: none; }
    #header ul li {
      display: inline-block;
      padding: 10px 20px; }
    #header ul.breadcrumbs {
      text-align: right; }
      #header ul.breadcrumbs li:last-child {
        background-color: white;
        color: black; }
      #header ul.breadcrumbs li div {
        display: none;
        position: absolute;
        background-color: #fff;
        padding: 0.5em 1.5em;
        margin: 0.8em -6em;
        text-align: left;
        -webkit-box-shadow: 0px 3px 5px -3px rgba(50, 50, 50, 0.75);
        -moz-box-shadow: 0px 3px 5px -3px rgba(50, 50, 50, 0.75);
        box-shadow: 0px 3px 5px -3px rgba(50, 50, 50, 0.75);
        z-index: 9999; }
      #header ul.breadcrumbs li:hover div {
        display: block; }
      #header ul.breadcrumbs li .login p {
        font-size: 1.1em; }
      #header ul.breadcrumbs li .login input[type="text"],
      #header ul.breadcrumbs li .login input[type="password"] {
        background-color: white;
        border: 1px solid black;
        width: 94%;
        padding: 3%; }
      #header ul.breadcrumbs li .login input[type="submit"] {
        background-color: black;
        color: white;
        border: 0;
        padding: 0.5em 1.5em; }
    #header ul.menu {
      text-align: center; }
      #header ul.menu li {
        display: inline-block;
        background: transparent url("../images/keyline.png") no-repeat center right; }
        #header ul.menu li:last-child {
          background: none; }
        #header ul.menu li ul {
          position: absolute;
          margin: 0.6em -1.7em;
          font-size: 0.9em;
          text-align: left;
          font-family: "Verdana", sans-serif;
          text-transform: capitalize;
          z-index: 9999; }
          #header ul.menu li ul li {
            display: none; }
        #header ul.menu li:hover {
          background: #222222; }
          #header ul.menu li:hover ul li,
          #header ul.menu li:hover ul li:last-child {
            display: block;
            background: #222222; }
  #header .seperator {
    min-height: 50px;
    border-bottom: 1px solid #222222;
    width: 95%; }

#content {
  width: 96%; }
  #content #banner {
    display: inline-block;
    position: relative;
    margin: 20px 0; }
    #content #banner img {
      width: 100%; }
    #content #banner img + .banner_content {
      position: absolute;
      top: 50%;
      left: 0;
      width: 50%;
      text-align: center;
      font-size: 1em;
      font-size: 1vw;
      color: #949494;
      /* Silly bit of Maths to handle v-align */
      margin-top: -10.8em; }
      @media (min-width: 950px) {
        #content #banner img + .banner_content {
          font-size: 1em; } }
      #content #banner img + .banner_content h1, #content #banner img + .banner_content h2 {
        margin: 0;
        padding: 0;
        line-height: 1.2em;
        font-family: "bebas_neueregular", sans-serif;
        font-weight: normal; }
      #content #banner img + .banner_content h1 {
        font-size: 12em; }
      #content #banner img + .banner_content h2 {
        font-size: 3em;
        border-top: 1px #949494 dotted;
        max-width: 70%;
        margin: -0.4em auto 0;
        padding-top: 0.4em; }
        #content #banner img + .banner_content h2 a {
          color: #949494; }
